In [47]:
import pandas as pd
import numpy as np
import pandas_datareader.data as web


df = web.DataReader(name="META", data_source="stooq")
# df.head()
# df.info()

In [16]:
# Zapis danych z df do pliku csv
df.to_csv("/Users/kudzik/Repo/Career-Path-Data-Science/Pliki/META.csv")

In [15]:
df_nov_mask = (df.index.month == 9) & (df.index.year == 2024)
df_nov = df[df_nov_mask].sort_index()
df_nov.to_excel("/Users/kudzik/Repo/Career-Path-Data-Science/Pliki/META.xlsx")

In [39]:
# Odczyt danych z plików

from ast import Index


meta_from_csv = pd.read_csv(
    "/Users/kudzik/Repo/Career-Path-Data-Science/Pliki/META.csv"
)
meta_from_csv

meta_from_excel = pd.read_excel(
    "/Users/kudzik/Repo/Career-Path-Data-Science/Pliki/META.xlsx", index_col="Date"
)
# index_col="Date" przywraca date jako indeks
meta_from_excel.sort_index()
# lub

meta_from_excel = pd.read_excel(
    "/Users/kudzik/Repo/Career-Path-Data-Science/Pliki/META.xlsx"
)

meta_from_excel = meta_from_excel.set_index(
    "Date"
)  # nałożenie indeksu na kolumnę w istniejcym dataframe
meta_from_excel.sort_index()

               Open      High       Low    Close    Volume
Date
2024-09-03  519.640  525.4900  508.6176  511.760  12459113
2024-09-04  506.070  516.5900  504.0700  512.740   8335207
2024-09-05  511.720  521.6295  511.1500  516.860   8640888
2024-09-06  521.880  524.5849  498.2500  500.270  14744521
2024-09-09  506.160  511.3300  502.0800  504.790  11047828
2024-09-10  508.160  514.1800  500.0278  504.790   9899022
2024-09-11  507.010  513.1200  495.6000  511.830  10782532
2024-09-12  517.050  526.7100  515.2200  525.600  11993342
2024-09-13  520.340  527.5810  517.1100  524.620  10321422
2024-09-16  524.540  534.1000  517.4000  533.280   9527646
2024-09-17  537.600  542.1000  530.5700  536.315  11690779
2024-09-18  537.065  544.2000  533.9026  537.950  10323537
2024-09-19  550.000  562.0700  546.5200  559.100  15646951
2024-09-20  560.000  564.5000  556.3001  561.350  22066817
2024-09-23  569.500  573.9799  562.4100  564.410  12830669
2024-09-24  566.680  567.7450  554.1900  563.330  12992956
2024-09-25  564.050  576.8800  563.7200  568.310  16543350
2024-09-26  575.730  577.4000  562.3501  567.840  14400787
2024-09-27  570.100  570.8399  564.5100  567.360   9398367
2024-09-30  567.700  574.6800  564.8000  572.440  12807206

In [52]:
df = pd.read_csv("/Users/kudzik/Repo/Career-Path-Data-Science/Pliki/london_bike.csv")
df = df.set_index("timestamp")
df.head()

,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
timestamp,,,,,,,,,
2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0

In [61]:
df.info()
df.head(10)

<class 'pandas.core.frame.DataFrame'>
Index: 17414 entries, 2015-01-04 00:00:00 to 2017-01-03 23:00:00
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   cnt           17414 non-null  int64
 1   t1            17414 non-null  float64
 2   t2            17414 non-null  float64
 3   hum           17414 non-null  float64
 4   wind_speed    17414 non-null  float64
 5   weather_code  17414 non-null  float64
 6   is_holiday    17414 non-null  float64
 7   is_weekend    17414 non-null  float64
 8   season        17414 non-null  float64
dtypes: float64(8), int64(1)
memory usage: 1.3+ MB

,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
timestamp,,,,,,,,,
2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0
2015-01-04 05:00:00,46,2.0,2.0,93.0,4.0,1.0,0.0,1.0,3.0
2015-01-04 06:00:00,51,1.0,-1.0,100.0,7.0,4.0,0.0,1.0,3.0
2015-01-04 07:00:00,75,1.0,-1.0,100.0,7.0,4.0,0.0,1.0,3.0
2015-01-04 08:00:00,131,1.5,-1.0,96.5,8.0,4.0,0.0,1.0,3.0
2015-01-04 09:00:00,301,2.0,-0.5,100.0,9.0,3.0,0.0,1.0,3.0

# Łączenie danych z kilku źródeł

In [74]:
def fetch_financial_data(company="AMZN"):
    import pandas_datareader.data as web

    return web.DataReader(name=company, data_source="stooq")


apple = fetch_financial_data("AAPL")
amazon = fetch_financial_data("AMZN")
google = fetch_financial_data("GOOGL")
uber = fetch_financial_data("UBER")

In [75]:
apple.columns = ["apple_" + x.lower() for x in apple.columns]
amazon.columns = ["amazon_" + x.lower() for x in amazon.columns]
google.columns = ["google_" + x.lower() for x in google.columns]
uber.columns = ["uber_" + x.lower() for x in uber.columns]

In [ ]:
# apple.head()
# amazon.head()
# google.head()
uber.head()

In [82]:
df = pd.concat([apple, amazon, google, uber], axis=1)
pd.set_option("display.float_format", lambda x: "%.2f" % x)
df

,apple_open,apple_high,apple_low,apple_close,apple_volume,amazon_open,amazon_high,amazon_low,amazon_close,amazon_volume,google_open,google_high,google_low,google_close,google_volume,uber_open,uber_high,uber_low,uber_close,uber_volume
Date,,,,,,,,,,,,,,,,,,,,
2024-10-15,233.61,237.49,232.37,233.85,64751367.00,187.63,188.41,184.58,187.69,32178925,165.78,167.68,164.62,165.46,20247195,84.77,84.77,82.65,83.20,14858455
2024-10-14,228.70,231.73,228.60,231.30,39882085.00,189.78,189.83,187.36,187.54,22614407,163.64,166.23,163.40,164.96,19016141,85.64,86.18,84.18,84.94,14752430
2024-10-11,229.30,229.41,227.34,227.55,31759188.00,186.63,189.93,186.30,188.82,25751557,162.13,163.90,161.24,163.24,15344251,82.00,87.00,81.86,86.34,57290484
2024-10-10,227.78,229.50,227.17,229.04,28183544.00,187.13,188.13,185.83,186.65,27785043,160.87,163.07,160.40,162.08,14144068,77.65,78.24,76.90,77.92,15033626
2024-10-09,225.23,229.75,224.83,229.54,33591091.00,182.82,185.84,182.05,185.17,26343117,163.45,164.84,159.74,161.86,31181774,76.00,77.96,75.95,77.87,17251051
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-10-24,59.15,59.22,58.50,58.93,74061349.49,88.55,89.42,88.01,89.04,104087000,62.96,63.15,62.62,62.96,22809560,33.00,33.42,32.51,33.28,6789619
2019-10-23,58.57,58.84,58.35,58.83,82396187.64,88.06,88.50,87.10,88.11,43807600,62.01,62.90,62.01,62.88,23525620,32.87,33.27,32.17,33.05,6843199
2019-10-22,58.34,58.59,57.97,58.05,93770023.57,89.41,89.49,88.10,88.29,44688500,62.22,62.44,61.99,62.06,25636420,31.41,33.89,30.22,32.53,19244283
2019-10-21,57.46,58.30,57.41,58.18,92461618.53,88.48,89.29,88.25,89.28,44498040,62.44,62.68,62.00,62.21,20601700,31.95,32.28,31.18,31.41,7232322
2019-10-18,56.75,57.47,56.68,57.19,100769156.06,89.39,89.70,87.46,87.88,67321820,62.73,62.91,62.01,62.22,31646400,32.55,32.66,31.27,32.06,8074207

In [84]:
df_t = df.T
df_t

Date,2024-10-15,2024-10-14,2024-10-11,2024-10-10,2024-10-09,2024-10-08,2024-10-07,2024-10-04,2024-10-03,2024-10-02,...,2019-10-31,2019-10-30,2019-10-29,2019-10-28,2019-10-25,2019-10-24,2019-10-23,2019-10-22,2019-10-21,2019-10-18
apple_open,233.61,228.70,229.30,227.78,225.23,224.30,224.50,227.90,225.14,225.89,...,59.81,59.21,60.23,59.86,58.82,59.15,58.57,58.34,57.46,56.75
apple_high,237.49,231.73,229.41,229.50,229.75,225.98,225.69,228.00,226.81,227.37,...,60.28,59.34,60.42,60.30,59.69,59.22,58.84,58.59,58.30,57.47
apple_low,232.37,228.60,227.34,227.17,224.83,223.25,221.33,224.13,223.32,223.02,...,57.40,58.35,58.68,59.69,58.76,58.50,58.35,57.97,57.41,56.68
apple_close,233.85,231.30,227.55,229.04,229.54,225.77,221.69,226.80,225.67,226.78,...,60.18,58.85,58.86,60.25,59.65,58.93,58.83,58.05,58.18,57.19
apple_volume,64751367.00,39882085.00,31759188.00,28183544.00,33591091.00,31855693.00,39505354.00,37345098.00,34044158.00,32880605.00,...,143815371.29,128685845.52,147615719.77,99802162.73,75934108.19,74061349.49,82396187.64,93770023.57,92461618.53,100769156.06
amazon_open,187.63,189.78,186.63,187.13,182.82,181.91,182.95,185.75,183.04,184.44,...,88.80,88.01,88.74,87.40,84.88,88.55,88.06,89.41,88.48,89.39
amazon_high,188.41,189.83,189.93,188.13,185.84,183.09,183.60,187.60,183.44,186.60,...,89.60,89.12,88.85,88.94,88.21,89.42,88.50,89.49,89.29,89.70
amazon_low,184.58,187.36,186.30,185.83,182.05,180.92,180.25,183.60,180.88,184.04,...,88.57,87.96,87.79,87.12,84.75,88.01,87.10,88.10,88.25,87.46
amazon_close,187.69,187.54,188.82,186.65,185.17,182.72,180.80,186.51,181.96,184.76,...,88.83,89.00,88.14,88.85,88.07,89.04,88.11,88.29,89.28,87.88
amazon_volume,32178925.00,22614407.00,25751557.00,27785043.00,26343117.00,26372086.00,42364201.00,41079011.00,30204302.00,23704056.00,...,55623700.00,48988100.00,45537100.00,74177020.00,192528040.00,104087000.00,43807600.00,44688500.00,44498040.00,67321820.00
google_open,165.78,163.64,162.13,160.87,163.45,163.94,167.72,168.06,164.41,166.42,...,63.00,62.76,63.80,63.75,62.60,62.96,62.01,62.22,62.44,62.73
google_high,167.68,166.23,163.90,163.07,164.84,164.72,168.48,168.23,166.64,167.52,...,63.33,63.40,64.04,64.96,63.40,63.15,62.90,62.44,62.68,62.91
google_low,164.62,163.40,161.24,160.40,159.74,162.87,162.75,165.48,163.92,164.73,...,62.47,62.53,62.78,63.62,62.46,62.62,62.01,61.99,62.00,62.01
google_close,165.46,164.96,163.24,162.08,161.86,164.38,162.98,167.06,165.86,165.86,...,62.94,63.03,63.03,64.45,63.22,62.96,62.88,62.06,62.21,62.22
google_volume,20247195.00,19016141.00,15344251.00,14144068.00,31181774.00,23072733.00,22463140.00,19093724.00,15073101.00,17760179.00,...,31903080.00,29203860.00,52654300.00,65428220.00,27104960.00,22809560.00,23525620.00,25636420.00,20601700.00,31646400.00
uber_open,84.77,85.64,82.00,77.65,76.00,75.25,74.25,74.11,72.56,74.09,...,33.23,32.51,32.37,32.88,33.20,33.00,32.87,31.41,31.95,32.55
uber_high,84.77,86.18,87.00,78.24,77.96,77.02,75.74,74.32,73.21,74.31,...,33.36,33.80,32.92,33.35,33.48,33.42,33.27,33.89,32.28,32.66
uber_low,82.65,84.18,81.86,76.90,75.95,75.06,73.73,73.22,71.90,72.79,...,31.26,32.11,31.81,32.50,32.61,32.51,32.17,30.22,31.18,31.27
uber_close,83.20,84.94,86.34,77.92,77.87,76.17,74.59,74.28,72.94,72.87,...,31.50,33.75,32.42,33.22,32.71,33.28,33.05,32.53,31.41,32.06
uber_volume,14858455.00,14752430.00,57290484.00,15033626.00,17251051.00,17800250.00,15328806.00,10757712.00,11096334.00,11323367.00,...,16130023.00,10861056.00,9357355.00,8073107.00,8106804.00,6789619.00,6843199.00,19244283.00,7232322.00,8074207.00

In [87]:
df_t.corr()  ## Współczynniki korelacji

Date,2024-10-15,2024-10-14,2024-10-11,2024-10-10,2024-10-09,2024-10-08,2024-10-07,2024-10-04,2024-10-03,2024-10-02,...,2019-10-31,2019-10-30,2019-10-29,2019-10-28,2019-10-25,2019-10-24,2019-10-23,2019-10-22,2019-10-21,2019-10-18
Date,,,,,,,,,,,,,,,,,,,,,
2024-10-15,1.00,0.99,0.69,0.94,0.90,0.93,0.93,0.93,0.96,0.97,...,0.99,0.99,0.97,0.95,0.70,0.86,0.99,1.00,0.99,0.98
2024-10-14,0.99,1.00,0.76,0.96,0.96,0.98,0.95,0.94,0.97,0.99,...,0.95,0.95,0.95,0.96,0.70,0.85,0.96,0.98,0.95,0.96
2024-10-11,0.69,0.76,1.00,0.80,0.76,0.81,0.73,0.68,0.72,0.74,...,0.59,0.57,0.55,0.58,0.48,0.55,0.59,0.67,0.58,0.59
2024-10-10,0.94,0.96,0.80,1.00,0.95,0.98,0.99,0.98,0.99,0.98,...,0.88,0.87,0.84,0.93,0.84,0.92,0.91,0.92,0.89,0.93
2024-10-09,0.90,0.96,0.76,0.95,1.00,0.99,0.95,0.93,0.94,0.97,...,0.84,0.83,0.86,0.95,0.70,0.81,0.87,0.89,0.84,0.88
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-10-24,0.86,0.85,0.55,0.92,0.81,0.86,0.95,0.97,0.94,0.89,...,0.82,0.82,0.77,0.90,0.97,1.00,0.88,0.85,0.86,0.93
2019-10-23,0.99,0.96,0.59,0.91,0.87,0.90,0.92,0.93,0.95,0.96,...,0.99,0.99,0.98,0.96,0.73,0.88,1.00,0.99,1.00,0.99
2019-10-22,1.00,0.98,0.67,0.92,0.89,0.92,0.92,0.92,0.95,0.97,...,0.99,0.99,0.98,0.94,0.69,0.85,0.99,1.00,0.99,0.98
2019-10-21,0.99,0.95,0.58,0.89,0.84,0.87,0.90,0.91,0.94,0.94,...,1.00,1.00,0.98,0.94,0.71,0.86,1.00,0.99,1.00,0.99
2019-10-18,0.98,0.96,0.59,0.93,0.88,0.91,0.95,0.96,0.97,0.97,...,0.97,0.97,0.95,0.97,0.80,0.93,0.99,0.98,0.99,1.00

In [89]:
df_close = [col for col in df.columns if col.endswith("close")]
df_close

['apple_close', 'amazon_close', 'google_close', 'uber_close']

In [92]:
df[df_close].corr()

              apple_close  amazon_close  google_close  uber_close
apple_close          1.00          0.50          0.89        0.58
amazon_close         0.50          1.00          0.68        0.73
google_close         0.89          0.68          1.00        0.67
uber_close           0.58          0.73          0.67        1.00