# Plotly Express

Plotly Express to uproszczona, wyspecjalizowana biblioteka do tworzenia interaktywnych wykresów w Pythonie, będąca częścią Plotly. Jest idealna dla szybkiego i łatwego tworzenia wykresów z minimalnym kodem, oferując domyślnie estetyczne i interaktywne wizualizacje.

## Opis
Plotly Express jest zorientowany na dataframe’y i umożliwia tworzenie interaktywnych wykresów za pomocą prostych funkcji. Jest to narzędzie bardzo przydatne do eksploracji danych, gdzie możemy dynamicznie manipulować wizualizacjami.

## Zalety
- Prostota: Bardzo łatwy w użyciu, idealny do szybkiego prototypowania.
- Interaktywność: Tworzenie interaktywnych wykresów bez potrzeby dodatkowego kodowania.
- Estetyka: Domyślne style są nowoczesne i atrakcyjne.
- Integracja z Pandas: Świetnie współpracuje z dataframe’ami Pandas.
- Wsparcie dla wykresów geograficznych: Możliwość tworzenia map i wykresów geograficznych.

## Wady
- Mniejsza elastyczność: Mniej opcji dostosowywania w porównaniu do pełnej wersji Plotly.
- Wydajność: Przy bardzo dużych zbiorach danych interaktywność może być mniej płynna.

In [2]:
# pip install plotly_express

import plotly_express as px

px.__version__

'0.4.1'

In [1]:
import plotly

plotly.__version__

'5.24.1'

In [3]:
df = px.data.iris()
df.head()

   sepal_length  sepal_width  petal_length  petal_width species  species_id
0           5.1          3.5           1.4          0.2  setosa           1
1           4.9          3.0           1.4          0.2  setosa           1
2           4.7          3.2           1.3          0.2  setosa           1
3           4.6          3.1           1.5          0.2  setosa           1
4           5.0          3.6           1.4          0.2  setosa           1

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
 5   species_id    150 non-null    int64
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

In [ ]:
px.scatter(data_frame=df, x="sepal_length", y="sepal_width", color="species")

In [ ]:
px.scatter_matrix(
    data_frame=df,
    dimensions=["sepal_length", "sepal_width", "petal_length", "petal_width"],
    color="species",
    title="Scatter Matrix",
)

In [ ]:
px.parallel_coordinates(data_frame=df, color="species_id")

In [18]:
df = px.data.tips()
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [ ]:
px.scatter(
    data_frame=df,
    x="total_bill",
    y="tip",
    facet_col="day",
    category_orders={"day": ["Thur", "Fri", "Sat", "Sun"]},
    trendline="ols",
    color="smoker",
)